<style>
    body {
        --tblr-link-color: #03a9f4 !important;
        --tblr-primary: #03a9f4 !important;
        --tblr-primary-rgb: 3, 169, 244 !important;
        --tblr-link-color-rgb: 3, 169, 244 !important;
        --tblr-link-hover-color-rgb: 3, 169, 244 !important;
        --tblr-link-hover-color: #03a9f4 !important;
    }
    body[data-bs-theme="dark"] .navbar-vertical.navbar-expand-lg .text-secondary {
        color: #03a9f4 !important;
    }
    .navbar-vertical.navbar-expand-lg .navbar-collapse .text-secondary {
        color: #03a9f4 !important;
    }
    .navbar-vertical.navbar-expand-lg .text-secondary {
        color: #03a9f4 !important;
    }
    body[data-bs-theme="dark"] .navbar-vertical.navbar-expand-lg .nav-item.dropdown.active::after {
        border-color: #03a9f4 !important;
    }
    .navbar-expand-lg .nav-item.active::after {
        border-color: #03a9f4 !important;
    }
    .form-control:focus {
        border-color: #03a9f4 !important;
    }
    .form-select:focus {
        border-color: #03a9f4 !important;
    }
    .input-group-flat:focus-within .input-group-text {
        border-color: #03a9f4 !important
    }
    .input-group-flat:focus-within .form-control,
    .input-group-flat:focus-within .input-group-text {
        border-color: #03a9f4 !important
    }
</style>
